global-include schoolwall/*
graft schoolwall/auth
graft schoolwall/database
graft schoolwall/mainpage
graft schoolwall/manage
graft schoolwall/monitor
graft schoolwall/static
graft schoolwall/utils
global-exlucde *.pyc
global-exlucde *.git